<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Categoría</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/css/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/css/categoria.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar active">
            <div class="menu-btn">
                <i class="bi bi-chevron-double-left"></i>
            </div>
            <div class="head">
                <div class="user-img">
                    <img src="/assets/img/fondoUsuario.png" alt="">
                </div>
                <div class="user-details">
                    <p class="title">Web developer</p>
                    <p class="name">John Doe</p>
                </div>
            </div>
            <div class="nav">
                <div class="menu">
                    <p class="title">Main</p>
                    <ul>
                        <li>
                            <a href="#">
                            <i class="bi bi-house"></i>
                            <span class="text">Inicio</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="bi bi-building"></i>
                            <span class="text">Empresa</span>
                            <i class="bi bi-chevron-right"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#"><span class="text">Datos</span></a></li>
                                <li><a href="#"><span class="text">Cencos</span></a></li>
                                <li><a href="#"><span class="text">Almacén</span></a></li>
                                <li><a href="#"><span class="text">Trabajadores</span></a></li>
                                <li><a href="#"><span class="text">Usuarios</span></a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#">
                            <i class="bi bi-box-seam"></i>
                            <span class="text">Items</span>
                            <i class="bi bi-chevron-right"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#"><span class="text">Materiales</span></a></li>
                                <li><a href="#"><span class="text">Categorias</span></a></li>
                                <li><a href="#"><span class="text">SubCategorias</span></a></li>
                                <li><a href="#"><span class="text">Marcas</span></a></li>
                                <li><a href="#"><span class="text">Usuarios</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                            <i class="bi bi-boxes"></i>
                            <span class="text">Logistica</span>
                            <i class="bi bi-chevron-right"></i>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#"><span class="text">Entradas</span></a></li>
                                <li><a href="#"><span class="text">Salidas</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <p class="title">Extra</p>
                    <ul>
                        <li>
                            <a href="#">
                            <i class="bi bi-gear"></i>
                            <span class="text">Configuración</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <p class="title">Cuenta</p>
                <ul>
                    <li>
                        <a href="#">
                        <i class="bi bi-info-circle"></i>
                        <span class="text">Ayuda</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <i class="bi bi-box-arrow-in-left"></i>
                        <span class="text">Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contenido">
            <div class="control">

            </div>
            <table class="listaCategoria">
                <tr>
                    <th class="th-codigo">CODIGO</th>
                    <th class="th-descripcion">DESCRIPCION</th>
                    <th class="th-accion">ACCION</th>
                </tr>
                <tr>
                    <td class="td-codigo">CAT001</td>
                    <td class="td-descripcion">ACCESORIOS01</td>
                    <td class="td-accion">
                        <div class="btn-editar"><i class="bi bi-pencil-square"></i></div>
                        <div class="btn-eliminar"><i class="bi bi-trash"></i></div>
                    </td>
                </tr>
                <tr>
                    <td class="td-codigo">CAT002</td>
                    <td class="td-descripcion">ACCESORIOS02</td>
                    <td class="td-accion">
                        <div class="btn-editar"><i class="bi bi-pencil-square"></i></div>
                        <div class="btn-eliminar"><i class="bi bi-trash"></i></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script src="/assets/js/index.js"></script>
<script src="/assets/js/categoria.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</html>
