<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="content">
        <ul>
            <li>MENU01
                <ul>
                    <li>SUBMENU01</li>
                    <li>SUBMENU02</li>
                    <li>SUBMENU03</li>
                    <li>SUBMENU04</li>
                </ul>
            </li>
            <li>MENU02
                <ul>
                    <li>SUBMENU01</li>
                    <li>SUBMENU02</li>
                </ul>
            </li>
            <li>MENU03
                <ul>
                    <li>SUBMENU01</li>
                    <li>SUBMENU02</li>
                    <li>SUBMENU03</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>></html>